.container {
  display: flex;
   padding: 20px;
}

/* Filter section */
.filter-section {
  flex: 1.5; 
  min-height: 300px; 
  
}


.product-grid {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
  }
  
  .product-card {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height: 100%;
  }
  .product-image {
    width: 100%;
    max-width: 250px;
    height: 300px;
    margin-bottom: 1px;
  }
  
  .product-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-align: left;
     margin-top: 2px;
    
    
    
  }
  
  .product-description {
    font-size: 14px;
    color: #555;
    text-align: center;
    text-align: left;
    margin-top: 0px;
 
  }
 
  
  