

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.row1, .row2, .row3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
h3{
    font-family: Notable;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    padding-left: 6rem;
    margin-left: 0;
}
.Homeandliving-part{
    position: absolute;
    right: 0%;
    padding: 20px;
}
img{
    height: 200px;
    width: 200px;
    object-fit:contain;
    padding-left: 92px;
    border-radius: 5px;
}
h4{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    margin-top: 5px;
}
p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #828282;
    margin-top: -25px;
}
.product-info span:hover {
    cursor: pointer;
    text-decoration: underline;
    margin-left: 20px;
}
.row1 div img, .row2 div img, .row3 div img {
    margin-bottom: 10px;
    text-align: center;
    flex: 1;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.page-number {
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.page-number button {
    margin: 0 5px;
}
.pagination button {
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: white;
    cursor: pointer;
}
.pagination button:hover {
    background-color: #F0F0F0;
}