@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Khand:wght@300&family=Poppins:ital,wght@1,600&display=swap");

.bannerContainer {
  width: 100vw;
  position: relative;
  background-color: rgb(244, 241, 241);

  .bannerImage {
    height: 40.978vw;
    width: 100%;
    object-fit: fill;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .contentContainer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 3.398vw 0 0.555vw 7.49vw;
    max-width: 40.222vw;
    max-height: 17.892vw;
    .mobile_para {
      display: none;
    }
    @media (max-width: 768px) {
      .mobile_para {
        display: block;
      }
      .desktop_para {
        display: none;
      }
      position: static; /* Ensure the content container flows normally */
      margin: 0;
      max-width: 100%;
      text-align: center; /* Center text */
      padding: 20px; /* Add padding to center vertically */
      max-height: none; /* Remove the max-height constraint */
      display: flex; /* Added */
      flex-direction: column; /* Added */
      align-items: center; /* Added */
    }
    h1 {
      width: 90%;
      font-family: "Notable";
      font-style: normal;
      font-weight: 700;
      font-size: 4.438vw;
      line-height: 4.438vw;
      color: #000000;
      white-space: wrap;
      margin: 0;
      padding: 0;

      @media (max-width: 768px) {
        font-size: 24px; /* Adjust font size for mobile view */
        line-height: 28px; /* Adjust line height for mobile view */
      }
    }

    p {
      font-family: "Inter";
      opacity: 0.6;
      font-style: normal;
      font-weight: 400;
      font-size: 1.11vw;
      line-height: 1.526vw;
      color: rgba(0, 0, 0, 0.6);
      margin: 10px 0 2.011vw 0;
      padding: 0;
      @media (max-width: 768px) {
        font-size: 14px; /* Adjust font size for mobile view */
        line-height: 18px; /* Adjust line height for mobile view */
        margin: 10px 0; /* Add margin to separate elements */
      }
    }

    .shopNowCTA {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.11vw 3.745vw;
      margin-bottom: 3.051vw;
      width: 14.563vw;
      height: 3.606vw;
      background-color: #000000;
      border-radius: 4.3vw;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 1.01vw;
      line-height: 1.526vw;
      color: #dcdada;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
      @media (max-width: 768px) {
        width: auto;
        padding: 10px 20px; /* Adjust padding for mobile view */
        font-size: 16px; /* Adjust font size for mobile view */
      }
    }
    .shopNowCTA:hover {
      color: #000;
      background-color: #fff;
      border: 2px solid black;
      transform: scale(1.05);
    }

    .info-container {
      display: flex;
      max-width: 41.331vw;
      height: 5.132vw;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      margin-bottom: 8.044vw;
      @media (max-width: 768px) {
        max-width: 100%;
        justify-content: center; /* Center items horizontally */
        text-align: center; /* Center text */
      }
      div {
        @media (max-width: 768px) {
          width: 30%;
        }
      }

      h2 {
        margin: 0;
        padding: 0;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 2.774vw;
        line-height: 3.745vw;
        color: #000000;
        @media (max-width: 768px) {
          font-size: 18px; /* Adjust font size for mobile view */
          line-height: 22px; /* Adjust line height for mobile view */
        }
      }
      p {
        margin: 0;
        padding: 0;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.11vw;
        line-height: 1.526vw;
        color: rgba(0, 0, 0, 0.6);
        @media (max-width: 768px) {
          font-size: 14px; /* Adjust font size for mobile view */
          line-height: 18px; /* Adjust line height for mobile view */
        }
      }
    }
  }

  .brand-banner {
    height: 7.76vw;
    background: #e6c744;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content:space-between; */

    .brand-logo {
      height: 6.944vw;
      width: 6.944vw;
      margin: 0.1px;
      border-radius: 100%;
    }
  }
  .textSection {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 97px;
      background: linear-gradient(180deg, #ffffff 44.5%, #06caf5 100%);
      margin-bottom: 5px;
      h2 {
        /* position: absolute; */
        width: 180px;
        height: 40px;
        left: 165px;
        top: 542px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 750;
        font-size: 19px;
        line-height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.1em;
        color: #f7f7f7;
        background-color: #002bc2;
        margin: -10px;
        padding: 2px;
      }
      h3 {
        margin: 0;
        width: 102.89px;
        height: 28px;
        left: 250px;
        top: 582.66px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 750;
        font-size: 26px;
        line-height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #063bc2;
        transform: rotate(-5.52deg);
        background-color: #a0ee22;
        padding: 1px;
      }
    }
  }
  .trendSection {
    display: none;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;

      div {
        font-weight: 400;
        font-size: 8px;
        line-height: 22px;
        color: #666464;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 6px;

        span {
          background: #ffeac2;
          border-radius: 8px;
          color: #f2a20c;
          font-weight: 700;
          padding: 2px;
        }
      }
    }
  }
  .festiveSection {
    display: none;
    @media (max-width: 768px) {
      position: relative;
      width: 100%;
      height: 356px;
      /* left: 0px; */
      /* top: 889px; */
      background: linear-gradient(360deg, #ffffff 0%, #ffa5e0 100%);
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .festiveText {
        position: absolute;
        background-color: #eefb63;
        border-radius: 10px;
        color: #fb6713;
        font-weight: 700px;
        padding: 7px;
        font-size: 20px;
        top: -28px;
      }
      .festiveSectionImg {
        overflow-x: auto;
        white-space: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;
        position: relative;
        .festiveSectionImg::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
        .festiveSectionImg .sectionImg {
          width: 188px;
          height: 284px;
          border-radius: 8px;
          margin: 0 10px;
        }
        .sectionImg {
          position: relative;

          width: 188px;
          height: 284px;
          /* left: 16px; */
          border-radius: 8px;
          margin: 0 20px;
          flex-shrink: 0;
          transform: translateY(20px);
        }
      }
    }
  }
}
