
.nav-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
  margin-top: 20px;
}


.nav-item {
  text-align: center;
  width: 30%;
}


.category-image {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.nav-item h2,
.nav-item p {
  text-align: left;
  margin-left: 0; 
}






