.header_container{
    width: 842px;
    height: 137px;
    position: absolute; 
    top: 284px;
    left: 299px;
    gap: var(--SpacingS);
}
.header_text{
        height: 77px;
        font-size: 64px;
        font-weight: 700;
        line-height: 77.45px;
        letter-spacing: -0.02em;
        text-align: center;
}

.para{
        width: 842px;
        height: 36px;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
        color: #828282;
}


.description_container{

        width: 516px;
        height: 216px;
        position: absolute;
        gap: var(--SpacingS);
}

.desc_header{
        font-size: 40px;
        font-weight: 600;
        line-height: 44px;
        text-align: left;
}

.desc_text{
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        text-align: left;
        color: #828282;

}

.desc_button{

        width: 131px;
        height: 52px;
        padding: 14px 24px 14px 24px;
        border-radius: 8px;
        opacity: 0px;
        background: #000000;
        color: white;
        box-shadow: 1px 1px 2px 5px #0000000D;
}

.image_container{

        width: 624px;
        height: 400px;
        gap: 0px;
        border-radius: 8px;
        opacity: 0px;

}
